.row {
  display: flex;
}

@media only screen and (max-width: 680px) {
  .form {
    flex-direction: column;
  }
  .options {
    display: none;
  }
}

.error-msg {
  color: #ff0000;
}

.form > .signin,
.witgoogle {
  background-color: #8fbc8f;
  border: 1px solid #8fbc8f;
  outline: none;
  color: #fff;
}

.form > .form-input > input {
  outline: none;
}

.signgoogle {
  color: #fff;
}
